{% extends 'base.html' %}


{% block head %}
<title> User Registration </title>
{% endblock %}

{% block body %}
	{% for message in get_flashed_messages() %}
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		 {{ message }}
		 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{% endfor %}
	<div class="container">
		<h2> User Registration Page</h2> 
		<div class="shadow p-3 mb-5 bg-body rounded">
			<form method="POST" action="">
				{{form.hidden_tag()}}
				<div class="row">
					<div class="col">
						{{form.firstName(class="form-control")}}
					</div>
					<div class="col">
						{{form.surname(class= "form-control")}}
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col">	
						{{form.username(class="form-control")}}
					</div>
					<div class="col">
						{{form.email(class="form-control")}}
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col">	
						{{form.jobTitle(class="form-control")}}
					</div>	
					<div class="col">
						{{form.organisationName(class="form-control")}}
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col">
						<select class="form-select" name="userType">
							<option selected>Select user type in this menu</option>
							{% for choice in form.userType.choices %}
								<option value="{{choice}}">{{ choice }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col">	

							{{form.password(class="form-control")}}
					</div>
				</div><br>
					<div class="col">
						{{ form.submit(class="btn btn-secondary") }}
					</div>
			</form>
		</div>
		<a href="{{url_for('login')}}">Already have an account? Log in</a>
	</div>

{% endblock %}